@import "tailwindcss";

@theme {
  --color-blue-700 : #002b5b;
  --color-blue-500 : #19406b;
  --color-blue-200 : #8095ac;

  
  --color-green-400 : #2fb1b2;
  /* --color-blue-700 : #19406a;
  --color-blue-700 : #19406a; */

}